/* ==========================================================================
   Air skin
   ========================================================================== */

/* Colors */
$background-color: #3d3c3d !default; //배경색
$text-color: #e9e9b5 !default; //텍스트 색깔(제목,내용,프로필글씨,블로그네임까지)
$muted-text-color: #a4df1b !default;
$primary-color: #4343c0 !default;
$border-color: mix(#fff, #393e46, 75%) !default;
$footer-background-color: $primary-color !default;
$link-color: #70497a !default;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: #e6e6ff !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}
